@import 'reset.css';

.saisei-slide {
	position: absolute;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	opacity: 0;
	transition: opacity .5s ease;
	overflow: hidden;
}

.saisei-slide.active {
	opacity: 1;
}